@font-face {
    font-family: cr;
    src: url('../../sors/font/OnlineWebFonts_COM_7dad72bb1fdf55433849590a067fb84e/Lobster\ Regular.eot')format('eot');

    src: url('../../sors/font/OnlineWebFonts_COM_7dad72bb1fdf55433849590a067fb84e/Lobster\ Regular.ttf')format('ttf');

    src: url('../../sors/font/OnlineWebFonts_COM_7dad72bb1fdf55433849590a067fb84e/Lobster\ Regular.woff')format('woff');
}
body{
    background-color: rgb(42, 27, 56);
    font-family: cr;
}
.menu{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;

}
menu{
    padding: 0;
    background-color: rgb(9, 9, 44);
    border-left: 10px white solid;
    border-radius: 10px 40px 20px;
}
.noob:hover{
    border-color: gold;
}
menu:hover{
    border-color: gold;
}
img{
    width: 100px;
    height: 100px;
}
.noob{
    border: 1px solid white;
    border-radius: 0px 10px 30px 30px;
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
a{
    color: black;
    border: 1px solid white;
    border-radius: 10px 50px;
    text-decoration: none;
    padding:10px 10px;
    text-shadow: 
    1px 1px 3px white,
    -1px -1px 3px white;
}

a:hover{
    background-color: rgb(217, 192, 183);
    border-left: 2px skyblue solid;
    border-color: gold;
    padding-left: 10px ;
    color: rgb(14, 6, 63);
    border-radius: 10px 50px;
    text-decoration: none;
    text-shadow: 
    1px 1px 3px gold,
    -1px -1px 3px gold;   
}
.padding{ 
    position: sticky;
    top: 0px;
}
table{
    position: absolute;
}
.class{
    display: flex;
}
