@font-face {
    font-family: cr;
    src: url('../../sors/font/OnlineWebFonts_COM_7dad72bb1fdf55433849590a067fb84e/Lobster\ Regular.eot')format('eot');

    src: url('../../sors/font/OnlineWebFonts_COM_7dad72bb1fdf55433849590a067fb84e/Lobster\ Regular.ttf')format('ttf');

    src: url('../../sors/font/OnlineWebFonts_COM_7dad72bb1fdf55433849590a067fb84e/Lobster\ Regular.woff')format('woff');
}
body{
    background-color: rgb(42, 27, 56);
    font-family: cr;
}
.menu{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;

}
menu{
    padding: 0;
    background-color: rgb(9, 9, 44);
    border-left: 30px wheat solid;
    border-radius: 10px;
}
img{
    width: 100px;
    height: 100px;
}
.noob{
    border-bottom: 1px solid wheat;
    border-top: 1px solid wheat;
    border-right: 1px solid wheat;
    border-radius: 10px;
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
a{
    border-left: 2px skyblue solid;
    padding-left: 10px ;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

a:hover{
    background-color: aqua;
    border-right: 10px solid slateblue;
    border-radius: 10px;
    color: black;
    text-shadow: 2px 2px 3px red,
    -2px -2px 6px blue ;
}
.padding{
    position: sticky;
    top: 0px;
}
table{
    position: absolute;
}
